@import url(../../assetes/css/normalize.css);
@import url(../../assetes/css/header.css);
@import url(../../assetes/css/fonts.css);
@import url(../../assetes/css/footer.css);
a{
    text-decoration: none;
    display: block;
}
.container {
    max-width: 1146px;
    margin: 0 auto;
}